.drop-shadow {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  position: relative;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
  color: #323131;
  padding-bottom: 275px;
}
#bg-1 {
  -webkit-clip-path: ellipse(49% 40% at 20% 20%);
  clip-path: ellipse(49% 40% at 20% 20%);
  width: 100%;
  height: 30%;
  background-color: #7EB2DD;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
#bg-2 {
  -webkit-clip-path: circle(54.5% at 95% 0);
  clip-path: circle(54.5% at 95% 0);
  width: 100%;
  height: 40%;
  background-color: #445E93;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.container .nav-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 2% auto;
  width: 80%;
}
.container .nav-wrapper .nav-logo {
  align-content: space-around;
  color: #DCE6F7;
}
.container .nav-wrapper .top-nav {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .nav-wrapper .top-nav a {
  color: #DCE6F7;
  text-decoration: none;
  font-size: 2rem;
  padding: 2%;
  margin-left: 8%;
}
.container .nav-wrapper .top-nav a:hover {
  color: #ffffff;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.7);
}
.container .nav-wrapper .top-nav .login-link-btn {
  position: absolute;
  right: 0;
  top: 22px;
  padding: 10px 30px;
  border-radius: 25px 0 0 25px;
  border: 4px solid #73628A;
  width: 20%;
  text-align: left;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.container .nav-wrapper .top-nav .login-link-btn:hover {
  background-color: #41384e;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  width: 20.5%;
}
header {
  width: 90%;
  margin: 0 auto;
  color: #DCE6F7;
}
header h2 span {
  color: #73628A;
  text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.5);
  font-size: 3.5rem;
  font-weight: bolder;
}
header p {
  margin: 10px auto;
}
header .header-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
}
header .header-content .cta-wrapper {
  display: flex;
  align-items: flex-start;
  width: 50%;
}
header .header-content .cta-wrapper .cta-button {
  width: 220px;
  height: 40px;
  background-color: #73628A;
  border-radius: 25px;
  border: none;
  color: #DCE6F7;
  font-size: 1.8rem;
  margin: 0 75px 75px 0;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
header .header-content .cta-button:hover {
  background-color: #41384e;
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.6);
}
header .header-content .header-img-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
header .header-content .header-img-wrapper img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
#bg-3 {
  -webkit-clip-path: polygon(52% 53%, 75% 53%, 100% 34%, 100% 100%, 70% 100%, 0 100%, 0 59%, 22% 72%);
  clip-path: polygon(52% 53%, 75% 53%, 100% 34%, 100% 100%, 70% 100%, 0 100%, 0 59%, 22% 72%);
  width: 100%;
  height: 400px;
  background-color: #3A405A;
  position: absolute;
  bottom: 0;
  z-index: -3;
}
#bg-3 .footer-container p {
  color: #DCE6F7;
  position: absolute;
  bottom: 10px;
  left: 10%;
}
.container .main-section {
  display: flex;
  flex-flow: row wrap;
  width: 85%;
  margin: 10% auto;
}
.container .main-section .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.container .main-section .content-wrapper .inner-content-wrapper {
  width: 50%;
  order: 2;
  color: #323131;
  padding: 2%;
}
.container .main-section .content-wrapper .inner-content-wrapper p {
  line-height: 1.5;
  font-size: 1.6rem;
}
.container .main-section .content-wrapper .inner-content-img-wrapper {
  width: 50%;
  order: 1;
}
.container .main-section .content-wrapper .inner-content-img-wrapper img {
  width: 550px;
  height: 550px;
}
.container .main-section .content-wrapper .inner-content-img-wrapper.reversed {
  order: 2;
}
.container .main-section-about {
  margin: 10% auto 0 auto;
  width: 85%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.container .main-section-about .card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  line-height: 1.5;
}
.container .main-section-about .card-wrapper .card-view {
  height: 465px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0px 8px 15px 0 rgba(0, 0, 0, 0.4);
  padding: 5%;
  background-color: white;
  margin: 2% 2%;
  transition: 0.3s;
}
.container .main-section-about .card-wrapper .card-view img {
  width: 100%;
  height: 75%;
}
.container .main-section-about .card-wrapper .card-view:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
