header{
    width: 85%;
    margin: 0 auto;

    h2{
        span{
            color: @accent-purple;
            text-shadow: 2px 5px 8px rgba(0,0,0,0.5);
            font-size:3.5rem;
            font-weight: bolder;
        }
    }

    p{
        margin:10px auto;
    }

    .cta-button{
        width:200px;
        height:40px;
        background-color: @accent-purple;
        border-radius: 30px;
        border:none;
        color: @lightest-blue;
        margin:2px auto;
        font-size:1.8rem;
        .drop-shadow;
    }

    .cta-button:hover{
        background-color: darken(@accent-purple, 20%);
    }

}