header{
    width: 90%;
    margin: 0 auto;
    color:@lightest-blue;

        h2{
            span{
            color: @accent-purple;
            text-shadow: 2px 5px 8px rgba(0,0,0,0.5);
            font-size:3.5rem;
            font-weight: bolder;
            }
        }

        p{
            margin:10px auto;
        }

    .header-content{
        display:flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        width:100%;
        margin: 0 auto;
      
        @media @phone {
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
           
        }
      
        .cta-wrapper{
            display:flex;
            align-items: flex-start;
            width:50%;
           

            @media @phone{
            width:100%;
            align-items: center;
            }
           
        a{
            text-decoration: none;

            @media @phone{
             display: flex;
             width:100%; 
             align-items: center;
            }

    .cta-button{
        width:220px;
        height:40px;
        background-color: @accent-purple;
        border-radius: 25px;
        border:none;
        color: @lightest-blue;
        font-size:1.8rem;
        margin:0 75px 75px 0;
        .drop-shadow;
        transition:0.3s;

        @media @phone{
            width: 100%;
            height: 65px;
            margin: 0 auto;
            
            }
        }


    .cta-button:hover{
        background-color: darken(@accent-purple, 20%);
        box-shadow: 0 8px 25px 0  rgba(0,0,0,0.6)
         }
    }
}

    .header-img-wrapper{
        display:flex;
        justify-content: flex-end;
        width:50%;
        
       
        @media @phone{
            width:85%;
            justify-content: center;
            margin-top:2%
        }

         img   {
                width:300px;
                height:300px;
                border-radius: 10px;
                .drop-shadow;
             }  

    }
    
   }

}

